/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 30px) / 2);
  width: -moz-calc((100% - 30px) / 2);
  width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
   .bg-blue {
    background: #2c6ed5;
  }
  
  .bg-red {
    background: #501015;
  }
 
  .bg-gra-01 {
    background: linear-gradient(#5a2a2a,#4d0909);
  }
  
  .bg-gra-02 {
    background: linear-gradient(#440a0a, #5f2f2f);
  }
/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-130 {
  padding-top: 70px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-15 {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.m-r-45 {
  margin-right: 45px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 780px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 40px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--blue {
  background: linear-gradient(to bottom, #7c0404, #b85555);
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave para box-shadow y transform */
}

.btn--blue:hover {
  background: linear-gradient(to bottom, #b80707, #dd6767);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Efecto de iluminación sutil */
}
/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td,
.table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after,
.daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input--style-4 {
  line-height: 40px;
  background: #fdfdfd;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #666;
}

.input--style-4:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}

.input--style-4::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}

.input--style-4:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

.input--style-4:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}

.label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  white-space: nowrap;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  border-radius: 50%;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.radio-container:hover .checkmark,
.radio-container input:checked ~ .checkmark {
  box-shadow: 0 0 6px #7c0404; /* Sombra azul más suave */
}

.radio-container input:checked ~ .checkmark {
  border: 1px solid #7c0404; /* Borde azul más delgado */
  background-color: #fff;
}

.radio-container .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #a72323;
  transition: all 0.2s ease;
}

.radio-container input:checked ~ .checkmark:after {
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
}

.input-group {
  position: relative;
  padding: 15px 15px 15px 15px;
}

.input-group-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #999;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.title {
  font-size: 24px;
  color: #525252;
  font-weight: 400;
  margin-bottom: 40px;
}

.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-4 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-4 .card-body {
    padding: 40px 40px;
  }
}

::-webkit-input-placeholder {
  opacity: 0.7;
}

::-moz-placeholder {
  opacity: 0.7;
}

:-ms-input-placeholder {
  opacity: 0.7;
}

::placeholder {
  opacity: 0.7;
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 12px;
}

.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
  -webkit-animation: checkmark 0.2s ease-in-out forwards;
  -moz-animation: checkmark 0.2s ease-in-out forwards;
  -o-animation: checkmark 0.2s ease-in-out forwards;
  animation: checkmark 0.2s ease-in-out forwards;
}

@-webkit-keyframes checkmark {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.25);
  }
}

@-moz-keyframes checkmark {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.25);
  }
}

@-o-keyframes checkmark {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.25);
  }
}

@keyframes checkmark {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.25);
  }
}

small {
  opacity: 75%;
}

.highlight-group {
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.highlight-group:focus-within {
  background-color: #9cce91;
}

select.input--style-4 {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  transition: border-color 0.3s ease;
  padding: 10px 40px 8px 15px; /* Ajusta el padding superior e inferior */
  line-height: 24px; /* Ajusta el line-height */
}

select.input--style-4:hover,
select.input--style-4:focus {
  border-color: #2c6ed5; /* O el color que desees para el hover/focus */
}

select.input--style-4 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23666" d="M1.4 0L6 4.6 10.6 0 12 1.4 6 7.4 0 1.4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-color: #fff;
  padding-right: 40px; /* Ajusta el padding para que el texto no se superponga con el icono */
}
input,
select {
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
  border: 1px solid #ccc; /* Asegura que todos los campos de entrada tengan el mismo borde */
}

.input--style-4 {
  /* ... (otros estilos) ... */
  border: 1px solid #ccc; /* Si quieres que .input--style-4 tenga un borde específico */
}

.select-with-icon {
  background-image: url("data:image/svg+xml;utf8,..."); /* Mueve el ícono de flecha hacia abajo a una clase separada */
}

/* Estilos para la cabecera */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente */
}

.header img {
  width: 100px;
  margin-right: 20px;
}

.header div {
  text-align: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .header img {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

#signature-pad {
  width: 100%; /* Cambiado a 100% para que sea responsive */
  max-width: 400px; /* Ancho máximo de 400px */
  height: 200px;
  border: 1px solid black;
  display: block;
  background-color: white;
}

/* Asegurarse de que los contenedores se adapten al ancho de la pantalla */
.input-group,
.highlight-group {
  max-width: 100%;
  box-sizing: border-box; /* Esto asegura que el padding y el borde estén incluidos en el ancho total */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .label,
  .sublabel {
    font-size: 14px; /* Reduce el tamaño del texto */
  }

  .input--style-4 {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
  }

  .row-space {
    flex-direction: column; /* Apila los elementos verticalmente */
  }
}

@media (max-width: 467px) {
  .label {
    font-size: 12px; /* Reduce el tamaño del texto de los labels */
    margin-bottom: 3px; /* Reduce el margen inferior */
  }

  .input--style-4 {
    font-size: 14px; /* Reduce el tamaño del texto de los inputs */
    padding: 5px 8px; /* Reduce el padding */
  }
}

.custom-checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-checkbox-group input[type="checkbox"] {
  margin: 0;
  margin-right: 10px;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.custom-checkbox-group label {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.custom-checkbox-group a {
  text-decoration: underline;
}

.checkbox-parent {
  padding-left: 15px;
}

.custom-alert {
  padding: 15px;
  background-color: #fbff00;
  opacity: 1; 
  transition: opacity 0.6s; 
  margin-top: 15px;
  border-radius: 4px; 
  position: relative; 
}

.custom-alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-alert .closebtn:hover {
  color: black;
}
